<html>
  <head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <br>
      <form action="" method="post">
        <input type="text" id = "user" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <button onClick = "submit">Login</button>
        
       
      </form>
      <button onClick = "myonClick()">Register</button>
      <script>
          function myonClick(){
              console.log("clicked");
              window.location = "/register";
          }
          document.onsubmit = function(){
            console.log("cookie set");
            username = document.getElementById('user').value;
            var now = new Date();
            var time = now.getTime() + 9642240000;
            now.setTime(time);
            document.cookie = "username="+username+'; expires='+now.toUTCString().replace("GMT","UTC");};
      </script>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>